$ipoa-yellow: #FFCC00;
$ipoa-green: #336600;

$color-default: #E8E8E8;
$color-default: hsla(0, 0, 0, 0.8);
$color-very-bright: #FFFFFF;

$padding-phone: 5px;
$padding-tablet: 25px;
$padding-notebook: 75px;
$padding-desk: 150px;
$padding-huge: 200px;