---
title: start-1
layout: default
---
{% include body-start.html %}

<div class="ic-layout">
	<div class="logo  ic-layout__item  ic-notebook-and-up-one-third  ic-layout--center  ic-pt+  ic-pb+">
		<img src="img/logo_head.gif" alt="">
	</div><!--
	--><div class="name  ic-layout__item  ic-notebook-and-up-one-third  ic-pt">
		<h1>Open Access</h1>
	</div><!--
	--><div class="start__menu  ic-layout__item  ic-notebook-and-up-one-third  ic-pt+  ic-layout--center  ic-layout--middle">
		<span class="ic-btn  ic-btn--small">Sitemap</span>
	</div><!--
	--><div class="buttonrow  ic-layout__item  ic-layout--center">
		<span class="start__allgemein  border--big  ic-btn  text--bold  text--large">Allgemeine Informationen</span>
		<span class="start__wissenswertes  border--big  ic-btn  text--bold  text--large">Wissenswertes für...</span>
		<span class="start__faecher  border--big  ic-btn  text--bold  text--large">OA in verschiedenen Fächern</span>
	</div>
</div>
	<div class="start__info">
		<ul class="ic-list-bare  ic-list-inline  text--very-bright">
			<li>Über uns&nbsp;&nbsp;|&nbsp;&nbsp;</li>
			<li>Kontakt&nbsp;&nbsp;|&nbsp;&nbsp;</li>
			<li>Impressum</li>
		</ul>
	</div>

{% include body-end.html %}
